.container-fluid {
  width: 500px;
  height: 700px;
  position: relative;
}
.my-score {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-right: 10px;
}
#score-1 {
  color: rgb(66, 207, 250);
}

#failed {
  color: red;
}
#control-panel {
  margin: 50px 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgb(249, 11, 213);
  border-radius: 4px;
  font-size: 16px;
}

#game-panel {
  height: 500px;
  border-style: solid;
  border-color: rgb(41, 229, 216);
  position: relative;
}

#control-panel-frame {
  height: 40%;
  border-style: solid;
  border-color: rgb(60, 187, 60);
}

#board {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
#end-score {
  display: inline-block;
  margin-top: 20vh;
  font-size: 4rem;
}
#help-div {
  width: 500px;
  height: 814px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
}
#help-div > #de {
  margin: 50px;
  line-height: 1.8;
  background-color: rgb(235, 241, 241);
  border-radius: 10px;
  padding: 10px;
}
#help-div > #help-title {
  display: block;
  padding: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}
#help-div > #bt {
  text-align: center;
}
#help-div b {
  color: rgb(249, 11, 213);
}
#help-div .buttonstart {
  margin-left: 130px;
}
#restart-btn,
#help-btn,
#start-btn {
  font-size: 2.5rem;
}
.word {
  position: absolute;
  font-size: 16px;
}

.buttonstart {
  background-image: linear-gradient(
    to right,
    rgb(66, 207, 250),
    rgb(66, 207, 250)
  );
  box-shadow: 0 4px 15px 0 rgb(19, 222, 232);
  width: 210px;
  height: 90px;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 2.5rem;
}
.score {
  text-align: center;
}
.score #end-score {
  font-size: 55px;
}

.score .restart {
  background-image: linear-gradient(
    to right,
    rgb(66, 207, 250),
    rgb(66, 207, 250)
  );
  box-shadow: 0 4px 15px 0 rgb(19, 222, 232);
  width: 210px;
  height: 90px;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 15px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 2.5rem;
  margin-left: 30px;
}
.score .explain {
  background-image: linear-gradient(
    to right,
    rgb(79, 235, 97),
    rgb(79, 235, 97)
  );
  box-shadow: 0 4px 15px 0 rgb(79, 235, 97);
  width: 210px;
  height: 90px;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 2.5rem;
  margin-left: 20px;
}
