/* Items */
.Items {
  font-family: "Noto Sans KR", sans-serif;
  width: 500px;
}

.Items .items_title {
  margin: 40px;
  text-align: center;
  p {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
    color: #8c8c8c;
    cursor: default;
  }
}

.Items .items_total {
  display: flex;
  img {
    margin-left: auto;
    margin-top: 3px;
    height: 25px;
  }
  p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-right: 30px;
    color: #34a853;
    cursor: default;
  }
}

.Items .items_main {
  height: 500px;
  margin-top: 10px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  overflow: auto;
}

.items_main::-webkit-scrollbar {
  width: 6px;
  background-color: #ececec;
  border-radius: 10px;
}
.items_main::-webkit-scrollbar-thumb {
  background-color: #34a853;
  border-radius: 10px;
}

.Items .item {
  text-align: center;
  border-radius: 30px;
  img {
    height: 120px;
    background-color: #ececec;
    padding: 20px;
    border-radius: 30px;
  }
  p {
    margin: 0;
    color: #22bcbc;
    font-weight: bold;
    cursor: default;
  }
}

.Items .store_btn {
  margin-left: 170px;
  cursor: pointer;
  display: flex;
  width: fit-content;
  background-color: #f16d9a;
  padding: 10px;
  padding-left: 30px;
  padding-right: 40px;
  border-radius: 30px;
  svg {
    height: 28px;
    margin-top: 4px;
    margin-right: 20px;
  }
  p {
    margin: 0;
    font-size: 23px;
    font-weight: bold;
    color: white;
  }
}
