.Editor {
  padding: 50px 50px;
}
.Editor .sort_section {
  display: flex;
  padding: 20px 12px;
}
.Editor .sort_title {
  color: rgba(52, 168, 83, 1);
  font-weight: bold;
}

.Editor .email_section {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
}
.Editor .email_title {
  color: rgba(52, 168, 83, 1);
  font-weight: bold;
  padding: 10;
}
.Editor .content_section {
  padding: 15px 15px;
}
.Editor .content_title {
  color: rgba(52, 168, 83, 1);
  font-weight: bold;
}

.Editor > section > textarea {
  padding: 5px 5px;
  width: 500px;
  min-height: 200px;
}

.Editor .button_section {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.Editor .button_section button {
  flex: 0.35;
  border: none;
  border-radius: 5px;
  background-color: rgb(63, 205, 101);
  font-size: 20px;
  cursor: pointer;
  padding: 3px;
}
