.Quest {
  text-align: center;
  width: 90vw;
  max-width: 500px;
}

.Quest .random {
  background: linear-gradient(100deg, #00b5cc, rgb(26, 242, 249));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  background-clip: text;
  font-size: 60px;
  font-weight: bold;
  padding-top: 40px;
}
.quest_button {
  width: 230px;
  height: 85px;
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 2.5rem;
  color: hsl(0, 0%, 100%);
  background-color: #00b5cc;
  box-shadow: 0 4px 15px 0 rgb(121, 217, 217);
}

.quest_button:focus {
  outline: none;
}
.quest_button:hover {
  background-color: gray;
}

#wrap {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 100px auto;
  perspective: 700px;
  cursor: pointer;
}

#wrap::after {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  display: block;
  content: "";
  width: 120px;
  height: 10px;
  border-radius: 50%;
  filter: blur(8px);
  background-color: rgba(2, 0, 0, 0.75);
}

#wrap .dice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;
  transform-style: preserve-3d;
  animation: freeturn 4s linear infinite;
}

#wrap .dice > div {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  border: none;
  font-weight: bold;
  color: #000000;
}

#wrap .dice > div:nth-child(1) {
  transform: translateZ(50px);
  background-color: rgb(254, 87, 87);
}

#wrap .dice > div:nth-child(2) {
  transform: translateX(-50px) rotateY(-90deg);
  background-color: rgb(254, 147, 224);
}

#wrap .dice > div:nth-child(3) {
  transform: translateZ(-50px) rotateY(-180deg);
  background-color: orange;
}

#wrap .dice > div:nth-child(4) {
  transform: translateX(50px) rotateY(90deg);
  background-color: yellow;
}

#wrap .dice > div:nth-child(5) {
  transform: translateY(-50px) rotateX(90deg);
  background-color: rgb(88, 211, 246);
}

#wrap .dice > div:nth-child(6) {
  transform: translateY(50px) rotateX(270deg);
  background-color: rgb(98, 98, 248);
}

@keyframes freeturn {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
