.Deal {
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 110px;
}

.Deal .search-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.Deal .search-section input {
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 0;
}

.Deal .search-section select {
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 0;
}

.Deal .search-section button {
  flex: 0 1 calc(33.333% - 10px);
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #00b5cc;
  color: white;
  cursor: pointer;
  min-width: 0;
  white-space: nowrap;
}

.Deal .search-section button:hover {
  background-color: #03d6f1;
}

@media (max-width: 600px) {
  .Deal .search-section input,
  .Deal .search-section select,
  .Deal .search-section button {
    flex: 1 1 100%;
  }
}
