/* Profile */
.Profile {
  font-family: "Noto Sans KR", sans-serif;
  width: 90vw;
  max-width: 500px;
}

.Profile .profile_title {
  margin: 10px;
  text-align: center;
  p {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
    color: #8c8c8c;
  }
}

.Profile .profile_img {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  img {
    height: 15vh;
    border-radius: 50%;
  }
  button {
    position: absolute;
    top: 12vh;
    left: 50vw;
    border: none;
    border-radius: 50%;
    background-color: #00b5cc;
    cursor: pointer;
    svg {
      margin-top: 2px;
      padding: 5px;
      height: 2vh;
      width: calc(2vh + 5px);
    }
  }
}

.Profile .profile_list_title {
  margin-left: 30px;
  margin-bottom: 20px;
  p {
    font-size: 15px;
    margin: 0;
    color: #f16d9a;
    font-weight: 700;
  }
}
.Profile .profile_list {
  height: 50vh;
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  p {
    margin: 0;
    font-size: 12px;
    color: #8c8c8c;
    font-weight: 700;
  }
}

.Profile section {
  display: flex;
  border-radius: 20px;
  padding: 15px;
  width: 80vw;
  max-width: 460px;
  background-color: #ececec;
  /* align-items: center; */
}

.Profile .profile_list .list_name {
  color: #22bcbc;
}

.Profile .profile_list .wallet {
  display: flex;
  align-items: center;
  width: 45vw;
  max-width: 220px;
  margin-left: auto;
  margin-right: 30px;
  p {
    font-size: 10px;
    word-break: break-all;
  }
}

.Profile .profile_list .name {
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  align-items: center;
  button {
    border: none;
    cursor: pointer;
    svg {
      margin-top: 2.5px;
      height: 20px;
      width: 20px;
    }
  }

  textarea {
    resize: none;
    width: 20vw;
    max-width: 100px;
    height: 2vh;
    font-size: 12px;
    font-weight: 600;
    color: black;
    background-color: #cbcbcb;
    border: 2.5px solid #8c8c8c;
    border-radius: 10px;
    padding-top: 4px;
    padding-left: 6.5px;
    &::placeholder {
      font-size: 12px;
      font-weight: 600;
      padding-left: 3px;
      color: rgba(0, 0, 0, 0.2);
    }
    &:focus {
      outline: none;
      border-color: #22bcbc;
    }
  }
}

.Profile .profile_list .email {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}

.Profile .profile_list .level {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}

.Profile .profile_list .achievement {
  display: flex;
  align-items: center;
  width: 45vw;
  max-width: 150px;
  margin-left: auto;
  margin-right: 30px;
  p {
    font-size: 10px;
  }
}

@media all and (min-width: 540px) {
  .Profile .profile_img {
    button {
      left: 280px;
    }
  }
}
