.c_ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 85vw;
  max-width: 500px;
}
.c_ranking .title {
  font-size: 50px;
  color: #000000;
  margin-bottom: 100px;
}
.c_ranking .top-ranking {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 30px;
  position: relative;
}

.c_ranking .podium-rank {
  text-align: center;
  padding: 0.7vw;
  position: relative;
  background-color: #e7c56a;
  border-radius: 10px 10px 0 0;
  margin: 0 5px;
}

.c_ranking .podium-rank img {
  width: 85px;
  height: 85px;
  border-radius: 150%;
  position: absolute;
  top: -76px;
  left: 50%;
  transform: translateX(-50%);
}

.c_ranking .podium-rank.rank-1 {
  height: 150px;
  width: 120px;
  background-color: #41b7bf;
}

.c_ranking .podium-rank.rank-2 {
  height: 120px;
  width: 100px;
  background-color: #41b7bf;
}

.c_ranking .podium-rank.rank-3 {
  height: 100px;
  width: 100px;
  background-color: #41b7bf;
}

.c_ranking .podium-name {
  font-size: 16px;
  margin-top: 10px;
}

.c_ranking .podium-position {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.c_ranking .ranking-chart {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  background-color: #444;
  border-radius: 10px;
  padding: 15px;
}

.c_ranking .ranking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #555;
}

.c_ranking .rank,
.name,
.nft-holdings,
.nft-percentage {
  font-size: 14px;
}

.c_ranking .rank {
  width: 15%;
  display: flex;
  align-items: center;
}

.c_ranking .rank::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffcc00;
  border-radius: 50%;
  margin-right: 5px;
}

.c_ranking .name {
  width: 35%;
}

.c_ranking .nft-holdings {
  width: 25%;
  text-align: center;
}

.c_ranking .nft-percentage {
  width: 25%;
  text-align: right;
}

.c_ranking .my-ranking {
  margin-top: 20px;
  margin-bottom: 20px;
}

.c_ranking .my-ranking button {
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.c_ranking .my-ranking button:hover {
  background-color: #f9eb50;
}
