/* Setting */
.Setting {
  font-family: "Noto Sans KR", sans-serif;
}

.Setting .setting_name {
  margin: 40px;
  margin-bottom: 120px;
  text-align: center;
}

.Setting .setting_name p {
  font-size: 25px;
  font-weight: 700;
  color: #8c8c8c;
}

.Setting section {
  display: flex;

  border-radius: 20px;
  padding: 20px;
  width: 600px;
  background-color: #ececec;
}

.Setting .setting_menu {
  margin: 20px;
  height: 450px;

  display: grid;
  gap: 5%;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  p {
    font-size: 20px;
    color: #34a853;
    font-weight: 900;
    margin: 0;
  }
}

.Setting .setting_vib button {
  width: 50px;
  cursor: pointer;
  padding: 0;
  border: none;
  text-align: center;
}

.Setting .setting_vib .setting_vib_button {
  padding: 0;
  margin-left: auto;
  margin-right: 60px;
  img {
    cursor: pointer;
    width: 43px;
    height: 43px;
    padding: 5px;
    opacity: 50%;
    border-radius: 10px;
  }
}

.Setting .setting_vib .button_vib {
  margin-right: 15px;
}

.Setting .setting_vib .button_vib_true {
  img {
    background-color: #34a853d1;
  }
}

.Setting .setting_cc .setting_cc_button {
  margin-left: auto;
  margin-right: 10px;
  opacity: 80%;
}

.Setting .setting_cc button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 220px;
  text-align: left;
  border: none;
  margin-bottom: 8px;
  background-color: #ffffffcc;
  padding: 2px;
  padding-left: 20px;

  font-weight: 700;
  font-size: 17px;
  border-radius: 10px;

  svg {
    margin-left: auto;
    width: 15px;
    height: 15px;

    background: none;
  }
}

.Setting .setting_vol_bar {
  margin-left: auto;
  margin-right: 10px;
}

.Setting .setting_vol input {
  width: 220px;
}

.Setting .setting_vol_bar input[type="range"] {
  width: 220px;
  -webkit-appearance: none;
  background: transparent;
}

.Setting .setting_vol_bar ::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #34a853;
  margin-top: -12.5px;
  cursor: pointer;
}

.Setting .setting_vol_bar ::-webkit-slider-runnable-track {
  width: 220px;
  height: 3px;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid #8c8c8c;
}

.Setting .setting_lang {
  height: 150px;
}

.Setting .setting_lang_box {
  margin-left: auto;
  margin-right: 10px;
}

.Setting .setting_lang_box div {
  position: relative;
  width: 200px;
  padding: 7px;
  border-radius: 12px;
  background-color: #34a853;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  &::before {
    content: "⌵";
    position: absolute;
    top: 1px;
    right: 8px;
    color: #ffffffcc;
    font-size: 20px;
  }
}

.Setting .setting_lang_box label {
  font-size: 17px;
  margin-left: 7px;
  text-align: center;
  color: #fefefe;
}

.Setting .setting_lang_box ul {
  position: absolute;
  list-style: none;
  top: 38px;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 110px;
  padding: 0;
  border-radius: 8px;
  background-color: #8c8c8c;
  color: #fefefe;
}

.Setting .setting_lang_box li {
  width: 100%;
  font-size: 17px;
  padding: 6px 8px;
  transition: background-color 0.2s ease-in;
  &:hover {
    background-color: #8c8c8c;
  }
}

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .Setting section {
    width: 320px;
  }
  .Setting .setting_name {
    margin-bottom: 80px;
  }
  .Setting .setting_menu {
    height: 300px;

    p {
      font-size: 15px;
    }
  }

  .Setting .setting_vib .setting_vib_button {
    margin-right: 40px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .Setting .setting_vib .button_vib {
    margin-right: 5px;
  }

  .Setting .setting_vol input {
    width: 170px;
  }
  .Setting .setting_vol_bar input[type="range"] {
    width: 170px;
  }
  .Setting .setting_vol_bar ::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    margin-top: -10px;
  }
  .Setting .setting_vol_bar ::-webkit-slider-runnable-track {
    width: 170px;
  }

  .Setting .setting_lang {
    height: 120px;
  }
  .Setting .setting_lang_box div {
    width: 150px;
    &::before {
      font-size: 13px;
    }
  }
  .Setting .setting_lang_box label {
    font-size: 13px;
  }
  .Setting .setting_lang_box ul {
    height: 90px;
  }
  .Setting .setting_lang_box li {
    font-size: 13px;
  }

  .Setting .setting_cc button {
    width: 170px;
    font-size: 12px;
  }
}
