@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Roboto", sans-serif;
}

/* MyHeader */

header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 700;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

/* MyButton */

.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 20px;

  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  margin-left: 20px;

  font-size: 18px;

  white-space: nowrap;

  background-color: #34a853;
  svg {
    width: 20px;
    color: white;
  }
}

/* Auth */

.container {
  width: 80%;
  margin: auto;
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
  margin: 50px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.grid {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  margin: 0.5rem;
  padding: 0.7rem;
  text-align: center;
  color: #0070f3;
  background-color: #fafafa;
  text-decoration: none;
  border: 1px solid #0070f3;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
}

.card:hover,
.card:focus,
.card:active {
  cursor: pointer;
  background-color: #f1f1f1;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1.5rem;
  margin-left: 0.5rem;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#console {
  width: 100%;
  height: 100%;
  overflow: auto;
  word-wrap: break-word;
  font-size: 16px;
  font-family: monospace;
}

/* Mypage */

.Mypage {
}

.Mypage section {
  width: 100%;
  display: flex;
}

.Mypage .user_firstrow {
  margin-top: 30px;
}

.Mypage .user_firstrow img {
  margin-left: 255px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.Mypage .logout {
  cursor: pointer;
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
  color: #8c8c8c;

  margin-left: auto;
  margin-right: 20px;
}

.Mypage .user_info {
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.Mypage .user_name {
  font-size: 40px;
  font-weight: bolder;
  margin: 0px 0px 5px 0px;
}

.Mypage .user_email {
  font-size: 25px;
  font-weight: bold;
  color: #8c8c8c;
  margin: 0px 0px 0px 0px;
}

.Mypage .user_dal {
  width: fit-content;
  padding: 5px;
  padding-left: 10px;
  padding-right: 15px;

  background-color: #34a853;
  border-radius: 30px;
  color: white;
  font-size: 35px;
  font-weight: 500;

  margin-left: auto;
  margin-right: 20px;
  flex-direction: row;
}

.Mypage .user_dal img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.Mypage .user_menu {
  margin: 20px;
  margin-top: 40px;
  height: 400px;

  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 5%;
  justify-content: center;
  text-align: center;
}

.Mypage .user_menu * {
  width: 600px;
  border-radius: 30px;
  background-color: #ececec;

  font-size: 30px;
  font-weight: 700;
  color: #34a853;
}

.Mypage .user_menu span {
  justify-content: center;
  align-items: center;
  display: flex;

  cursor: pointer;
}

.Mypage .user_nft {
  cursor: default;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Mypage .user_nft img {
  width: 100px;
  height: 100px;
}

.Mypage .user_nft span {
  cursor: default;
  width: 300px;
}

.Mypage .nft_items {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Mypage .nft_pieces {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Profile */
.Profile {
  font-family: "Noto Sans KR", sans-serif;
}

.Profile .profile_title {
  margin: 40px;
  margin-bottom: 40px;
  text-align: center;
  p {
    font-size: 25px;
    font-weight: 700;
    color: #8c8c8c;
  }
}

.Profile .profile_img {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  button {
    position: absolute;
    top: 150px;
    left: 370px;
    border: none;
    border-radius: 50%;
    background-color: #4fb56a;
    cursor: pointer;
    svg {
      margin-top: 2px;
      padding: 7px;
      height: 20px;
      width: 20px;
    }
  }
}

.Profile .profile_list_title {
  margin-left: 30px;
  margin-bottom: 30px;
  p {
    font-size: 25px;
    margin: 0;
    color: #34a853;
    font-weight: 700;
  }
}

.Profile section {
  display: flex;

  border-radius: 20px;
  padding: 20px;
  width: 580px;
  background-color: #ececec;
}

.Profile .profile_list {
  margin: 20px;
  height: 200px;

  display: grid;
  gap: 5%;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  p {
    margin: 0;
    font-size: 18px;
    color: #8c8c8c;
    font-weight: 700;
  }
}

.Profile .profile_list .list_name {
  color: #34a853;
}

.Profile .profile_list .wallet {
  margin-left: auto;
  margin-right: 30px;
  p {
    font-size: 16px;
  }
}

.Profile .profile_list .name {
  margin-left: auto;
  margin-right: 30px;
  display: flex;

  button {
    border: none;
    cursor: pointer;
    svg {
      margin-top: 2.5px;
      height: 20px;
      width: 20px;
    }
  }
}

.Profile .profile_list .email {
  margin-left: auto;
  margin-right: 30px;
}

.Profile .profile_list .level {
  margin-left: auto;
  margin-right: 30px;
}

.Profile .profile_list .achievement {
  margin-left: auto;
  margin-right: 30px;
  p {
    width: 270px;
  }
}
