.container {
  width: 90vw;
  max-width: 500px;
}

.list_title {
  text-align: center;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button_r {
  margin: 5px;
  padding: 5px 7px;
  background-color: #0d8848;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.button_r:hover {
  background-color: rgb(48, 168, 82);
}

.progress-bar-r {
  width: 100%;
  background-color: #e0e0e0;
  height: 20px;
  margin: 10px 0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-inner-r {
  height: 100%;
  background-color: #37a331;
  border-radius: 10px 0 0 10px;
}
