.container_view {
  max-width: 500px;
  width: 90vw;
  text-align: center;
}

.view_title {
  font-size: 30px;
  margin-bottom: 70px;
  text-align: center;
}

.content_view {
  font-size: 20px;
  margin-bottom: 200px;
  text-align: center;
}
.content {
  font-size: 18px;
  padding: 40px 2px;
  border: 0.5px solid #000000;
  border-radius: 5px;
}

.button_next {
  padding: 10px 20px;
  background-color: #00b5cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.button_finish {
  padding: 10px 20px;
  background-color: #00b5cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button_next:hover {
  background-color: #41423f;
}
.button_finish:hover {
  background-color: #41423f;
}

.page-info {
  font-size: 14px;
  color: #666;
}
.current_view {
  text-align: center;
}
