.container_view {
  max-width: 500px;
  width: 90vw;
  text-align: center;
}

.view_title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.content_view {
  font-size: 20px;
  margin-bottom: 300px;
  text-align: center;
}

.button_next {
  padding: 10px 20px;
  background-color: #3b5998;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.button_finish {
  padding: 10px 20px;
  background-color: #3b5998;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button_next:hover {
  background-color: #7892c8;
}
.button_finish:hover {
  background-color: #7892c8;
}

.page-info {
  font-size: 14px;
  color: #666;
}
.current_view {
  text-align: center;
}
