.container_story {
  width: 90vw;
  max-width: 500px;
}

.Story_title {
  margin-bottom: 20px;
  text-align: center;
}
.img_story {
  width: 90vw;
  max-width: 500px;
}
.ul_story {
  list-style: none;
  padding: 0;
}

.li_story {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.story_name {
  font-size: 15px;
}
.readstory {
  font-size: 15px;
}

.h2 {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.button_b {
  margin: 5px;
  padding: 3px 5px;
  background-color: #00b5cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.button_b:hover {
  background-color: #41423f;
}
.progress-bar_1 {
  width: 100%;
  background-color: #e0e0e0;
  height: 15px;
  margin: 10px 0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-inner_1 {
  height: 100%;
  background-color: #178593;
  border-radius: 10px 0 0 10px;
}

.page-info {
  font-size: 14px;
  color: #666;
}
