.Faq {
  height: 100%;
  width: 90vw;
  max-width: 500px;
  overflow: hidden;
}

.Faq .Faq_wrapper {
  max-height: calc(100vh - 120px);
  width: 90vw;
  max-width: 500px;
}

.Faq .Faq_wrapper::-webkit-scrollbar {
  width: 12px;
}
